.start-button,
.stop-button {
    background-color: #007bff;
    color: #fff;
    margin: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover,
.stop-button:hover {
    background-color: #0056b3;
}